.bgInfo {
  background-color: #4cafff;
}

.card-columns {
  column-gap: 5px;
  column-count: 4;
}

@media (max-width: 868px) {
  .card-columns {
    column-gap: 5px;
    column-count: 3;
  }
}

@media (max-width: 568px) {
  .card-columns {
    column-gap: 5px;
    column-count: 2;
  }
}

.rec-pagination .rec {
  display: none
}

.rec .rec-carousel {
  height: 112px !important;
}